/*******************************
********************************
        Universal Styles
********************************
*******************************/
* {
    box-sizing: border-box;
}

html,
body {
    background-color: #3B3B3B;
    font-family: Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 1.75em;
}

p {
    padding-top: 1em;
    padding-bottom: 1em;
    font-weight: 300;
}

h1, h2, h3, h4, p {
    color: white;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    color: white;
}

a {
    text-decoration: none;
    color: #fff;
}

img {
    border-style: none;
    width: 100%;
    height: 100%;
}

.fa {
    color: white;
    font-size: 1.75rem !important;
    padding-left: .4rem;
    padding-right: .4rem;
    padding-top: .75rem;
    padding-bottom: .75rem;
}

.container {
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.display-bg {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
}

.underline {
    text-decoration: underline;
}

.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: rgb(108, 117, 125);
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-inner {
    padding: 1.5rem;
}

.card-title{
    text-transform: uppercase;
    margin-bottom: .75rem;
}

.card-text:last-child {
    margin-bottom: 0;
}

.card-img-top {
    height: 15em;
}

.card-profile {
    margin: 1.25rem 1.25rem;
    background-color: rgb(108, 117, 125);
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/*******************************
********************************
            Header
********************************
*******************************/
header {
    background-color: #222222;
}



/*******************************
********************************
          Navigation
********************************
*******************************/

.control {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
}

.control-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.logo {
    max-height: 400px;
    max-width: 600px;
    height: 5rem; 
}

#navToggle {
    cursor: pointer; 
    color: #fff;
    font-size: 32px;
    padding: .25rem .75rem;
    
  }

.nav {
    z-index: 1000;
    height: 100%;
    width: 100%;
    display: none;
    background-color: #222222;
    margin-top: 0;
    padding-top: 25px;
    text-align: center;
    position: fixed;
}

.nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-item {
    margin-bottom: 15px;
    padding: 1em;
    width: 100%;
    text-transform: uppercase;
}

.nav-item a {
    text-decoration: none;
    color: #fff;
    padding: 15px 30px;
    display: block;
    text-transform: uppercase;
}

.nav-item:hover {
    background-color: #ED1C24;
}



/*******************************
********************************
        Hero Section
********************************
*******************************/

.hero {
    z-index: 1;
    position: relative;
    text-align: center;
    display: flex;
    height: 55em;
    align-items: center;
    padding: 4rem 2rem;
}

.hero:after {
    background: rgba(32, 32, 32, 0.3);
    content: "";
    width: 100%;
    height: auto;
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.hero-image {
    background: url('../img/-images/auto-automobile-automotive-305070.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-text {
    display: block;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-desc {
    margin-bottom: 4em;
    font-size: 1.75rem;
    font-weight: 300;
}

.hero-title {
    font-size: 2.5rem;
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
}


/*******************************
********************************
     Why Choose Us Section
********************************
*******************************/

#why-us {
    background-color: #222222;
    padding-top: 2rem;
    padding-bottom: 2rem;
}



/*******************************
********************************
      Our services Section
********************************
*******************************/

#services {
    padding-top: 2rem;
    padding-bottom: 2rem;
    z-index: 1;
}

#services:after {
    background: rgba(32, 32, 32, 0.1);
    content: "";
    width: 100%;
    height: auto;
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.services-image {
    background: url('../img/-images/audi-audi-car-automobile-168938.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



/*******************************
********************************
        About Us Section
********************************
*******************************/

#about {
    padding-top: 2rem;
    padding-bottom: 2rem;
}



/*******************************
********************************
        Call to action
********************************
*******************************/

#callToAction {
    background-color: #222222;   
    padding-bottom: 2em;
    padding-top: 2em;
}




/*******************************
********************************
     We Are Mobile Section
********************************
*******************************/

#mobile {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#mobile:after {
    background: rgba(32, 32, 32, 0.1);
    content: "";
    width: 100%;
    height: auto;
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.mobile-image {
    background: url('../img/-images/asphalt-auto-autobahn-133826.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*******************************
********************************
        About Us Section
********************************
*******************************/

#meet-team {
    padding-top: 2rem;
    padding-bottom: 2rem;
}



/*******************************
********************************
            Footer
********************************
*******************************/
#footer {
    background-color: #222;
    padding: 3rem 3rem;
}

.footer-inner {
    border: 5px solid rgba(255, 255, 255);
    padding: 2rem;
}

.footer-title {
    margin-bottom: 3rem;
}

.footer-logo {
    max-height: 300px;
    max-width: 450px;
}



/*******************************
********************************
            Elements
********************************
*******************************/

.btn-primary {
    color: #fff; 
    background-color: #ED1C24;
    border-color: #ED1C24; 
}

.btn-secondary {
    color: #fff; 
    background-color: #6c757d;
    border-color: #6c757d; 
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .575rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.icon {
    margin: 1em auto;
    width: 7rem;
}


/*******************************
********************************
        Media Queries
********************************
*******************************/

@media (min-width: 576px){
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px){
    .container {
     max-width: 720px;
    }

    .col {
        flex-basis: 0;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
    }

    .row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }

    .nav-list {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .card-profile {
        width: 50%;
        margin: 1.25rem 1.25rem;
        background-color: rgb(108, 117, 125);
    }

    .fa {
        font-size: 2rem !important;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }

    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto auto auto auto;
        grid-gap: 15px;
        align-content: space-evenly;
    }
    .grid-container > div {
        text-align: center;
        padding: 20px 0;
        justify-content: center; 
    }

    .card{
    margin-bottom: 0;
    }

    .card1 {
        grid-area: 1 / 1 / 1 / 5;
    }
      
    .card2 {
        grid-area: 2 / 1 / 2 / 5; 
    }
      
    .card3 {
        grid-area: 1 / 7 / 3 / 5;
    }
      
    .card4 {
        grid-area: 3 / 1 / 3 / 4; 
    }
      
    .card5 {
        grid-area: 3 / 4 / 3 / 7;
    }
}

@media (min-width: 1200px){
    .container {
        max-width: 1140px;
    }
}